@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,700;1,700&display=swap');

body {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows:100px 1000px 100px;
  grid-template-areas: 
  "header header" 
  "main main"
  "footer footer";
  margin: 0;
  padding: 0;
  font-family: 'Cabin', sans-serif;
  background-color: #4C4C4C;

}


  .maincontent{
    display: grid;
    grid-template-columns: 2fr;
    grid-template-rows: 3fr auto auto;
    position: absolute;
    left: 50%;
    top: 30%;
    transform: translate(-50%,-50%);
    margin-top: 150px;
    gap: 20px;
    text-align: center;
    overflow: auto;
  }
  
  html {
    scroll-behavior: smooth;
  }

  header {
    grid-area:header;
    margin-top: 1vh;
  }

  footer{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-area:footer;
    position: relative;
  }

  

  footer ul{
    justify-self:center;
  }

  footer li{
  
    display: inline;
    
  }

  footer li img{
  

    height: 40px;
    padding-left: 10px;


  }

  .address{
    color: white;
    margin-left: 50px;
    margin-top: 10px;
  }

  .photos{
    grid-area: photo;
    display: grid;
    grid-auto-flow: column;
    overflow-y: auto;
    overscroll-behavior-x: contain;
    scroll-snap-type: x mandatory;
   
  }

  .photos::-webkit-scrollbar{
    display: none;
  }

  .photos > a{
    scroll-snap-align: center;
  }
  
  .gallery_img{
    width: 600px;
    height: 100%;
    object-fit: cover;
  }

  .price a{
    grid-area:price;
    /* background-image: url("price.png");  */
  }

  .mainbutton{
    text-decoration: none;
    text-align: center;
    border: 2px solid black;
    border-radius: 100px;

    color: white;
    width: 220px;
    padding: 20px;
    transition: background-color 0.5s ease;
    justify-self: center;
  }
  
  .mainbutton:hover{
    background-color: black;
  }

  .message{
    font-size:19px;
    color: white;
    
  }
  
  .title{
    font-size:100px;
    color:  whitesmoke;
  }

  .canvas{
    grid-area:main;
  }
  
  .container {
    margin-right: 50px;
  }
  
  .menu {
    float: left;
  }
  
  .menu li {
    display: inline;
    padding-left: 20px;
    font-family: Arial, Helvetica, sans-serif;
    
  }

  .menu li a::after{
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #ffffff;
    transform-origin: right;
    transition: transform 0.3s ease-out;
    
  }

  .menu li a:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }

  
  
  .menu li a {
    color: #ffffff;
    text-decoration: none;
    display: inline-block;
    position: relative;
    font-weight: 100;
    font-size: 18px;
  }

  .title-head{
    color: #ffffff;
    font-size: 30px;
    padding-right: 30px;
  }


  @media (min-width: 1000px){
   .title{
     width: 1000px;
   }
  }

  

  @media (max-width: 500px){
    .title{
      font-size: 70px;
    }

    .message{
      font-size:13px;
      color: white;
      
    }

    
   }
 
  