/* importing fonts from Google Font API */
@import url('https://fonts.googleapis.com/css?family=Major+Mono+Display');
@import url('https://fonts.googleapis.com/css?family=Sarabun:300,300i,400,700');

html {
    background: lightseagreen whitesmoke;
    min-width: 1280px;
    min-height: 720px;
    overflow: auto;

    font-family: "Sarabun", sans-serif;
    font-weight: 300;
    color: white;
    letter-spacing: 0.1em;
}

body {
    padding: 20px;
}

h1{
    font-family: "Major Mono Display", sans-serif;
    font-size: 3em;

    color:  white;
    letter-spacing: normal;
    text-transform: lowercase;

    margin-bottom: 0;
    padding-bottom: 0;
}

h2 {
    font-family: "Major Mono Display", sans-serif;
    font-size: 1.5em;
    letter-spacing: normal;
    text-transform: lowercase;
}

h3 {
    color: black;
    font-family: "Batang", sans-serif;
    font-size: 2em;
    align-content: center;
    font-weight: 400;
    letter-spacing: normal;
    text-transform: capitalize;
    width: 90%;
    margin: 20px auto;
    position: relative;
    top: 1000px;
    left: -110px;
}

/* styling an element through its ID */
div#div_page_desc {
    margin: 10px;
}

div#div_data_desc {
    background: black;
    box-sizing: border-box;
    padding: 10px 20px;

    color: white;
}

div#div_visuals {
    background: white;
    background-clip: content-box;
    width: 100%;
    height: 100%;
    min-height: 700px;
    box-sizing: border-box;
    padding: 10px;
}

div#div_buttons {
    padding: 0px;
    margin-top: -150px;
}

button {
    background:  whitesmoke;
    border: none;
    height: 40px;
    padding: -20px 10px;
    position: relative;
    top: -90px;
    left: 30px;

    font-family: "Batang", sans-serif;
    font-weight: 400;
    font-size: 25px;
    letter-spacing: 0.1em;
    font-weight: bold;
}

button:hover {
    background: darkturquoise;
    cursor: pointer;
}

button:focus {
    outline: 0;
}

.svg_boxes {
    background: url('background.png') no-repeat;
    background-position: 10px -100px;
    display: block;
    width: 100%;
    min-width: 800px;
    min-height: 100px;
    /*box-sizing: border-box;*/
    margin: 0px auto;
}
svg {
    background: url('background.png') no-repeat;
}

