.card-wrapper {
  
  width: 100%;
  height: 450px;
  margin-bottom: 20px;

  .card {
   
    position: relative;
    border-radius: 20px;
    overflow: fixed;
    width: 100%;
    justify-self: center;
    height: 450px;
    border: 1px solid #aaa;
    background-color: #fff;
    overflow: hidden;
    cursor: pointer;

    &.open {
      position: fixed;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      border: none;
      background-color: white;
      cursor: default;
      z-index: 100;
      border-radius: 0;
      overflow-y: scroll;
      
      &.activeCard {
        background-color: aqua;
        
      }
    }

    .card-top {
      border-bottom: 1px solid black;
      background-color: rgb(249, 249, 249);
      overflow: hidden;
    }

    .card-header .arrow:hover .arrow-text .arrow .live-site .card-top,
    .title,
    .description,
    .img {
      pointer-events: none;
    }

    .img {
      width: 100%;
      height: 450px;
      background-position: center;
      background-size: cover;
    }

    .title {
      position: absolute;
      bottom: 0;
      padding: 5px 20px;
      width: calc(100% - 40px);
      height: 40px;
      color: #fff;
      background-color: #222;
      font-size: 1.6rem;
    }
  }

  .description {
    padding: 20px;
  }
}

/* ARROW BUTTON */
.arrow {
  width: 50px;
  cursor: pointer;
  transition: margin-left 0.5s ease-out;
  
}

.arrow:hover {
  margin-left: 3rem;
}

/* LIVE SITE DIV */
.live-site {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-bottom: 1px solid #aaa;
}

.arrow-text {
  font-size: 10px;
}

.card-header {
  margin: 0;
  padding: 0;
  border-bottom: 1px solid black;
}
.card-header h2 {
  margin: 15px;
}

/* CANCEL BUTTON */
.cancel {
  border-radius: 50%;
  position: absolute;
  margin: 10px;
  right: 0;
  top: 100;

  cursor: pointer;
  border: none;
  font-weight: 900;
  font-size: x-large;
  background-color: transparent;
}

.stack {
  font-size: small;
  border-radius: 5px;
  margin-bottom: 30px;
  width: fit-content;
  padding: 3px;
  margin-left: 10px;
  margin: 3px;
  background-color: burlywood;
}

.stack-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: start;
}
.stack-div {
  margin: 20px;
}

.imgs {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  width: 100%;
  max-width: 400px;
  justify-items: center;
  margin: 20px;
}

@media (min-width: 700px) {
  .imgs {
    display: flex;
    flex-direction: row;
    width: fit-content;
    justify-self: center;
  }

  .stack-wrapper {
    display: flex;
    grid-template-columns: 1fr;
    text-align: start;
  }
}
