.card {
    display: flex;
    cursor: pointer;
    position: relative;
    background-color: white;
    border: 1px solid #aaa;
    border-radius: 12px;
    align-items: center;
    overflow: hidden;
    margin-bottom: 20px;
    height: 100%;
    box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.1);
}

.screenshot {
    width: 100%;
    
    border: 1px solid #aaa;
    border-radius: 5px;
}

.card-holder {
    width: 100vw;
}

.zoom .card-holder {
    height: 100%;
    overflow-y: scroll;
}

.model {
    height: 60vh;

}

.zoom .model {

    display: none;

}


.zoom {
    
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border: none;
    background-color: white;
    cursor: default;
   

}



.card-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px;
}

.main-text {
    display: grid;
    margin: 10px;
    height: 100%;
}

.card-p1 {

    font-size: x-large;
}

.img-container {
    width: 100%;
    height: 400px;
}

.card-img {
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.stack {
    display: flex;
    justify-content: space-around;
    font-size: x-large;
    border: 1px solid #aaa;
    border-radius: 5px;
    margin-bottom: 30px;
}


.stack-wrapper {
    font-size: x-large;
    text-align: start;
}

/*GIF LOOP */
.video-loop {
    display: block;
    width: 100%;
    /* Scale video to container size */
    object-fit: cover;
}



/* CANCEL BUTTON */
.cancel {

    border-radius: 50%;

    right: 0;
    z-index: 10;
    cursor: pointer;
    border: none;
    font-weight: 900;
    font-size: x-large;
    background-color: transparent;
}


/* ARTICLE STYLING */

article {

    text-align: start;
    font-size: large;
    font-weight: 600;

}

.card-holder h4, article h4 {
    color: #aaa;
    font-weight: 900;

}



/* ARROW BUTTON */
.arrow {
    width: 50px;
    cursor: pointer;
    transition: margin-left 0.5s ease-out;
}

.arrow:hover {
    margin-left: 3rem;
}

/* LIVE SITE DIV */
.live-site {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-bottom: 1px solid #aaa;
    border-top: 1px solid #aaa;
}

.arrow-text {
    font-size: 10px;
}

.imgs{
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
    gap: 20px;

}

@media (min-width: 1000px) {


    .card-holder {
        width: 50vw;
    }

    .zoom .card-holder {
        width: 100vw;
    }
}


@media (max-width: 700px) {
    .stack {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items: center;

    }
}

@media (min-width: 700px) {
    

    .main-text {
        margin: 3em;
        display: grid;
       
        
    }

    .imgs{
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 100%;
        gap: 20px;

    }

}