.closet {
    display: flex;
    flex-direction: column;

    z-index: 11;
    background-color: white;
    position: absolute;

    top: 0;
    right: 0;

    border-radius: 10px;

    border: 1px solid black;

    width: 20vw;
    min-width: 150px;
    max-width: 240px;
    height: 92vh;
    margin: 20px;
    padding: 20px;
    overflow: scroll;
   

}


.closet-header {
    display: flex;
    
    justify-content: space-between;
    
}

.hide {
    display: none;

}

.closet-hide {
    
    display: none;
}

.closet-buttons {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    border-radius: 10px;

}


.closet-buttons button {

    font-size: large;
    font-weight: 900;

   
    padding: 20px;
   
    background-color: white;
    cursor: pointer;

    border: 1px solid black;
    border-top: none;
   
}


.closet-buttons button:first-child {
    border-top: 1px solid black;
    
}


.closet-buttons img {
    width: 100%;
    border: none;
}

.closet-toggle-button{
    position: absolute;
    right: 0;
    
    border: none;
    font-size: larger;
    cursor: pointer;
    padding: 10px;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 9px;
    font-weight: 900;
    border-radius: 10px;
}