canvas{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;

}


/* .open .model{
    height: 450px;
    width: 50vw;
} */


.model{
    height: 450px;
    width: 90vw;
}

@media (min-width: 1000px) {
    .model{
        height: 450px;
        width: 50vw;
    }
  }