
.head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.head p {
    font-weight: bold;
    font-size: 30px;
    margin-right: 60px;
}

.bubble {
    border-radius: 20px;
    background-color: white;
    border: 1px solid black;
    padding: 10px;

    margin-bottom: 0px;
}

.resume p{
    font-size: min(max(1rem, 5vw), 20px);
}

.resume h2{
    font-size:min(max(1rem, 5vw), 30px);
    padding: 0;
    margin-bottom: 0;
}

.resume{
    margin: 0 10px 0 10px;
}
