/* animate components */
@keyframes left {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes big {
  from {
    transform: scale(0.95);
  }

  to {
    transform: scale(1);
  }
}

.card, .about, .project-info, .resume, .title {
  animation: left;
  animation-duration: 1s;
}

.download-toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
  text-decoration: none;
  color: black;
  z-index: 2;
  border: 1px solid black;
  border-radius: 50%;
  height: 100px;
  width: 100px;
  margin: 10px;
  cursor: pointer;
}

.foot {
  display: flex;
  justify-content: center;
  opacity: 0.4;

  margin: 0;
  padding: 2px;

}

a, a:hover, a:focus, a:active {
  text-decoration: none;
  color: inherit;
}



/* main grid */

.inner-grid {
  display: grid;
  grid-template-columns: 95vw;
  gap: 20px;
  justify-content: center;
  padding: 20px;
  grid-template-rows: auto;

}

canvas {
  height: 80vh;
}

.second-grid {
  display: grid;
  grid-template-columns: 95vw;
  gap: 20px;
  padding: 0 20px 20px 20px;
  justify-content: center;
  height: 100vh;
}

.grid-item {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3px;
  border-radius: 0.5em;
  background: rgb(251, 235, 238);
  overflow: hidden;

}



.expand-left {

  border-radius: 0.5em;
  background: rgb(251, 235, 238);
  overflow: scroll;
  cursor: default;
  animation: big;
  animation-duration: 1s;
  height: 65vh;
  overflow-x: hidden;

}


.grid-item-model {
  border-radius: 0.5em;
  background: rgb(251, 235, 238);

}



.video-loop {
  display: block;
  width: 100%;
  height: 100%;
  /* Scale video to container size */
  object-fit: cover;
  border-radius: 0.5em;
}

.title-card-video {
  margin-right: 60px;
  position: absolute;
  font-weight: 700;
  font-size: 50px;
}

.video-title {
  position: absolute;
  font-weight: 700;
  font-size: 50px;
  margin: 0;
  padding: 0;
}

/* .expand-left:last-child {
  grid-row: span 4; 
} */


/* fullscreen mode */
@media (min-width: 800px) {

  .inner-grid {
    display: grid;
    grid-template-columns: 60vw 35vw;
  }

  .second-grid {
    display: grid;
    grid-template-columns: 48vw 47vw;
    grid-auto-flow: dense;
  }

  .grid-item:last-child {
    grid-column: span 2;
    grid-row: span 2;
  }

  .expand-left:last-child {
    grid-column: span 2;
  }

  .grid-item:last-child {
    height: 20vh;
  }

  .expand-left {
    height: 80vh;
  }

}