.card-list {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 20px;
}

body {
  background-color: rgb(245, 245, 245);
  overflow: hidden;
}



#root {

  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;

}

@media (max-width: 1000px) {
  .card-list {
    grid-template-columns: 1fr;
  }
}


.intro {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;

  max-width: 700px;
}




.intro h4 {
  margin: 0;
  padding: 0;
  color: #aaa;
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

a, a:hover, a:focus, a:active {
  text-decoration: none !important;

  color: #1982FC;
}


.header {
  background: rgba(245, 245, 247, .6);
  backdrop-filter: blur(20px);
  position: sticky;
  top: 0;

}

.homepage {
  margin-left: 3vw;
  margin-right: 3vw;
}

header h1, a {

  color: black;
  margin: 0;
  margin-right: 10px;
  padding: 0;

}

/* header a img {
  width: max(3vw, 40px);
  margin-left: 5px;
  padding: 0;
  cursor: pointer;
}

header a img:hover {
  transform: scale(1.1);
} */

.foot {
  position: relative;
  display: flex;
  justify-content: center;
  opacity: 0.4;
  margin: 10px;
  padding: 10px;
  z-index: -1000;
}

/* a {
  text-decoration: none;
  color: black;
}

.link-arrow p {
  display: inline-block;
  transition: 0.1s ease-in;
}

.link-arrow:hover p {
  transform: translateY(-50%);
} */